* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.for-whom-title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.012em;
  color: #ffffff;
  margin-top: 109px;
  margin-bottom: 22px;
}

.for-whom-subtitle {
  width: 810px;
  height: 48px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.012em;
  color: #ffffff;
  margin: 40px auto;
  padding: 0 25px;
}

.for-whom-stages-box {
  width: 752px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
}

.for-whom-stages1,
.for-whom-stages2 {
  width: 259px;
  height: 48px;
  margin-right: 24px;
}

.for-whom-stages3 {
  width: 186px;
  height: 48px;
  padding-right: 22px;
}

.for-whom-stages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

.for-whom-stages img {
  margin-right: 8px;
}

.for-whom-transaction-stages-title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.012em;
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
}

.for-whom-transaction-stages-subtitle {
  width: 810px;
  height: 72px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 12px;
  padding: 0 56px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.012em;
  color: #ffffff;
}

.for-whom-transaction-stage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 16px;
  gap: 16px;
  background: #27262b;
  border-radius: 8px;
  margin-right: auto;
  margin-left: auto;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  letter-spacing: 0.05em;
}

.for-whom-transaction-stage-title {
  display: flex;
  flex-direction: row;
}

.for-whom-transaction-stage-title img {
  margin-right: 8px;
}

.for-whom-transaction-stage-list {
  list-style-type: disc;
  padding-left: 30px;
}

.for-whom-transaction-stage-box1 {
  width: 808px;
  height: 184px;
  margin-bottom: 36px;
}

.for-whom-transaction-stage-box2 {
  width: 808px;
  height: 544px;
  margin-bottom: 12px;
}

.for-whom-transaction-stage-box3 {
  width: 808px;
  height: 544px;
  margin-bottom: 36px;
}

.for-whom-transaction-stage-box4 {
  width: 808px;
  height: 160px;
  margin-bottom: 36px;
  padding-right: 25px;
}

.for-whom-transaction-stage-box5 {
  width: 809px;
  height: 165px;
  margin-bottom: 109px;
  padding-right: 38px;
  border-left: 8px solid #fc0101;
}

.for-whom-transaction-stage-box2 > ul li,
.for-whom-transaction-stage-box3 > ul li {
  margin-bottom: 25px;
  padding-right: 26px;
}

.for-whom-chat-messages1 {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 1360px;
  top: 680px;
}
