* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

@font-face {
  font-family: "Mulish";
  src: url(../fonts/Mulish-Regular.woff) format("woff"),
    url(../fonts/Mulish-Regular.woff2) format("woff2"),
    url(../fonts/Mulish-Regular.ttf) format("truetype"),
    url(../fonts/Mulish-Regular.eot) format("eot"),
    url(../fonts/Mulish-Regular.eot?) format("eot");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mulish-Bold";
  src: url(../fonts/Mulish-Bold.woff) format("woff"),
    url(../fonts/Mulish-Bold.woff2) format("woff2"),
    url(../fonts/Mulish-Bold.ttf) format("truetype"),
    url(../fonts/Mulish-Bold.eot) format("eot"),
    url(../fonts/Mulish-Bold.eot?) format("eot");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.woff) format("woff"),
    url(../fonts/Inter-Regular.woff2) format("woff2"),
    url(../fonts/Inter-Regular.ttf) format("truetype"),
    url(../fonts/Inter-Regular.eot) format("eot"),
    url(../fonts/Inter-Regular.eot?) format("eot");
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style-type: none;
}

body {
  position: relative;
  background-color: #131218;
}
header,
footer {
  background-color: #27262b;
}

/* Стили основной страницы */
/* шапка */
.header-content {
  display: flex;
  padding: 24px 105px;
}

.top-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 223px;
  width: 100%;
}

.header-logotype {
  width: 69px;
  height: 30px;
}

.menu-button,
.menu-button-label {
  display: none;
}

.menu {
  margin-left: 22.5px;
  margin-right: 22.5px;
}

.menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 449px;
  height: 24px;
}

.menu-link {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  opacity: 0.7;
}

.menu-authorization {
  width: 221px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-authorization-item a {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.7;
}
.menu-authorization-item-open a {
  color: #cafc01;
}
/* Содержимое */
.container {
  position: relative;
}
.garant-service {
  display: flex;
  flex-direction: row;
  padding: 0 105px;
  height: 628px;
}

.garant-service-card {
  display: flex;
  flex-direction: row;
}

.garant-service-card-box {
  width: 568px;
  height: 219px;
  padding: 183px 0px 226px;
  margin-right: 64px;
}

.garant-service-card-box-title {
  width: 510px;
  height: 123px;
  font-family: "Mulish-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 41px;
  letter-spacing: 0.012em;
  color: #ffffff;
  margin-bottom: 40px;
  padding-right: 40px;
}

.garant-service-card-box-title span {
  border-bottom: 2px solid #b153e0;
}

.garant-service-card-box-buttons {
  display: flex;
  flex-direction: row;
}

.garant-service-card-box-buttons button {
  width: 287px;
  height: 56px;
  background: #cafc01;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.012em;
  color: #000000;
}

.play-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.play-button img {
  width: 56px;
  height: 56px;
}

.play-button-text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.012em;
  color: #ffffff;
  margin-left: 16px;
}

.garant-service-card-picture {
  width: 600px;
  height: 628px;
  margin: 0;
  overflow: hidden;
}

.payment-systems {
  height: 112px;
  background: #b153e0;
}

.payments {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 33px 105px 30px;
  align-items: center;
}

.chat-messages {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 1360px;
  top: 778px;
}

.secure-transaction {
  padding: 0 105px;
}
.secure-transaction-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.secure-transaction-card-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 594px;
  height: 361px;
}

.secure-transaction-card-box-title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 41px;
  letter-spacing: 0.012em;
  color: #ffffff;
}
.secure-transaction-card-box-title span {
  border-bottom: 2px solid #b153e0;
}

.secure-transaction-card-box-definition {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.012em;
  color: #ffffff;
}

.secure-transaction-card-box-text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  width: 594px;
  height: 144px;
  padding-right: 76px;
}

.secure-transaction-card-box button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 10px;
  width: 287px;
  height: 56px;
  background: #cafc01;
  border-radius: 8px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.012em;
  color: #000000;
}
.video {
  padding: 32px 105px;
}

.servis-work {
  padding: 0 105px;
  margin-bottom: 64px;
}

.servis-work-title {
  text-align: center;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 41px;
  letter-spacing: 0.012em;
  color: #ffffff;
  margin-bottom: 36px;
}

.servis-work-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 49px;
}

.servis-work-button {
  padding: 16px 24px;
  gap: 10px;
  height: 56px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.button1 {
  width: 287px;
  background: #cafc01;
  border-radius: 8px 0px 0px 8px;
  color: #131218;
}

.button2 {
  width: 285px;
  background: #27262b;
  color: #cafc01;
}

.button3 {
  width: 281px;
  background: #27262b;
  border-radius: 0px 8px 8px 0px;
  color: #cafc01;
}

.servis-work-stages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 7px;
  margin-left: 7px;
}

.servis-work-stage {
  width: 246px;
  height: 336px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stage1 {
  padding: 0 15px;
}

.stage2 {
  padding: 0 28px;
}

.stage3 {
  padding: 0 33px;
}

.servis-work-stage img {
  width: 180px;
  height: 180px;
}

.servis-work-stage-title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.012em;
  color: #ffffff;
  margin-top: 24px;
  margin-bottom: 8px;
}

.servis-work-stage-text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  opacity: 0.9;
}

.servis-scheme {
  padding: 0 105px;
  margin-bottom: 64px;
}

.servis-scheme-title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 41px;
  letter-spacing: 0.012em;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}

.servis-scheme-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.servis-scheme-box-left {
  width: 495px;
}

.expanded {
  height: 153px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #cafc01;
  border-radius: 10px;
  margin-bottom: 24px;
  margin-top: 2px;
}
.expanded .servis-scheme-stage {
  margin-bottom: 0;
  padding-bottom: 14px;
  background: #cafc01;
}
.servis-scheme-stage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;
  width: 495px;
  height: 73px;
  background: #27262b;
  border-radius: 10px;
  margin-bottom: 24px;
}

.servis-scheme-stage-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  width: 451px;
  height: 41px;
}

.servis-scheme-stage-text div {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  letter-spacing: 0.012em;
  color: #ffffff;
}

.expanded div {
  color: #131218;
}

.expanded-text {
  width: 350px;
  height: 72px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-left: 60px;
  margin-bottom: 16px;
}

.stage-text-box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.stage-text-box img {
  margin-right: 16px;
}

.servis-scheme-box-right {
  width: 316px;
  margin-top: -15px;
}

.servis-scheme-box-right-title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  letter-spacing: 0.012em;
  color: #ffffff;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 8px;
}

.servis-scheme-box-right-text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  text-align: center;
  margin-bottom: 24px;
}

.servis-scheme-box-right-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 24px;
  gap: 10px;

  width: 314px;
  height: 56px;
  background: #131218;
  border: 1px solid #cafc01;
  border-radius: 8px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.012em;
  color: #ffffff;
}

.reviews {
  padding: 0;
  margin-bottom: 58px;
}
.reviews-title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 41px;
  letter-spacing: 0.012em;
  color: #ffffff;
  text-align: center;
  margin-bottom: 36px;
}

.reviews-carusel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

ul.carusel {
  width: 1230px;
  position: relative;
  list-style: none;
  margin: 0 -210px;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.review {
  display: flex;
  flex-direction: column;
  width: 285px;
  height: 228px;
  margin-right: 30px;
}

.review-title-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}

.review-title-box div {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  margin-left: 8px;
}

.review-title-box img {
  width: 36px;
  height: 36px;
}
.review-title-box .avatar {
  width: 36px;
  height: 36px;
  background: #b153e0;
  border-radius: 3px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  padding: 6px 0;
  text-align: center;
}
.review-body {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;

  width: 285px;
  height: 176px;
  background: #27262b;
  border-radius: 4px;
}

.review-body-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.review-body-header-count {
  padding: 4px 10px;
  gap: 10px;

  width: 96px;
  height: 28px;
  background: #131218;
  border-radius: 8px;
}

.review-body-stars {
  width: 100px;
  height: 20px;
  margin-bottom: 8px;
}

.review-body-stars img {
  padding: 0;
  margin: 0;
}
.review-body-text {
  border-top: 1px solid #131218;
  padding-top: 8px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: left;
  color: #ffffff;
  padding-right: 17px;
}

.review-body-text a {
  color: #ffffff;
  text-decoration: revert;
}

.reviews-slider {
  text-align: center;
  margin-top: 26px;
}

.advantages {
  padding: 0 105px;
}

.advantages-title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.012em;
  color: #ffffff;
  margin-bottom: 40px;
}

.block {
  width: 812px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 76px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.advantages-reliability-card-box h3 {
  margin-bottom: 24px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  letter-spacing: 0.012em;
  color: #ffffff;
}
.advantages-reliability-card-box {
  width: 395px;
}

.advantages-reliability-card-box ul {
  height: 360px;
  padding-right: 51px;
  padding-left: 25px;
}
.advantages-reliability-card-box ul li {
  list-style-type: disc;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.9;
  padding-bottom: 25px;
}
.advantages-reliability-card-picture {
  width: 257px;
  height: 353px;
  margin-top: 15px;
  margin-right: 99px;
  margin-left: 50px;
}
.advantages-button {
  width: 287px;
  height: 56px;
  left: 576px;
  top: 5226px;
  background: #cafc01;
  border-radius: 8px;
  margin-right: 472px;
  margin-left: 471px;
  margin-bottom: 64px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.012em;
  color: #000000;
}

.privacy-reliability-card-picture {
  width: 243px;
  height: 314px;
  margin-top: 10px;
  margin-right: 121px;
  margin-left: 65px;
}

.privacy-reliability-card-box h3 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  letter-spacing: 0.012em;
  color: #ffffff;
  margin-bottom: 24px;
}

.privacy-reliability-card-box ul {
  width: 395px;
  height: 288px;
  padding-left: 25px;
  padding-right: 50px;
}
.privacy-reliability-card-box ul li {
  list-style-type: disc;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.9;
  padding-bottom: 23px;
}

.сonvenience-reliability-card {
  margin-bottom: 16px;
}
.сonvenience-reliability-card-box {
  padding-top: 55px;
}
.сonvenience-reliability-card-box h3 {
  margin-bottom: 24px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  letter-spacing: 0.012em;
  color: #ffffff;
}

.сonvenience-reliability-card-box ul {
  width: 395px;
  height: 288px;
  padding-left: 25px;
  padding-right: 46px;
}
.сonvenience-reliability-card-box ul li {
  list-style-type: disc;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.9;
  padding-bottom: 23px;
}

.сonvenience-reliability-card-picture {
  width: 364px;
  height: 364px;
}

/* Подвал */
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 105.11px 16px 105px;
}

.footer-panel {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-logotype {
  width: 69px;
  height: 30px;
  margin-right: 181px;
}

.footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 494px;
  height: 24px;
}

.footer-menu-list {
  display: flex;
  padding: 0px;
  gap: 64px;
}

.footer-menu-link {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

.menu-payment {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 235.89px;
  height: 36px;
}

.copyright {
  width: 278px;
  height: 24px;
  margin-top: 16px;
  margin-bottom: 8px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
}

@media (min-width: 1440px) {
  body {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 1440px;
  }

  .header-content {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-content {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
}
